<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klfront.klblog.dao.KnowledgeMapper">
  <resultMap id="BaseResultMap" type="com.klfront.klblog.entity.Knowledge">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="page_view" jdbcType="INTEGER" property="pageView" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, title, keyword, content, category_id, author, page_view, sort, create_time, 
    modified_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from knowledge
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from knowledge
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.klfront.klblog.entity.Knowledge" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into knowledge (user_id, title, keyword, 
      content, category_id, author, 
      page_view, sort, create_time, 
      modified_time)
    values (#{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR}, #{categoryId,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{pageView,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.klfront.klblog.entity.Knowledge" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into knowledge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="pageView != null">
        page_view,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="pageView != null">
        #{pageView,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.klfront.klblog.entity.Knowledge">
    <!--@mbg.generated-->
    update knowledge
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="pageView != null">
        page_view = #{pageView,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.klfront.klblog.entity.Knowledge">
    <!--@mbg.generated-->
    update knowledge
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      page_view = #{pageView,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="listByRange" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from knowledge
    <where>
      <if test="keyword !=null">
        and content like '%${keyword}%'
      </if>
    </where>
    ORDER BY  modified_time DESC
    limit #{currIndex},#{pageSize}
  </select>
</mapper>